@import "../../../styles/colors";

.params {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields {
  margin: 50px;

  .field {
    display: flex;
  }
}

button {
  float: end;
  padding: 10px 15px;

  border: none;
  border-radius: 5px;
  background-color: $headerColor;
  color: $whiteColor;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background-color: #3b5880;
}

.inputField {
  button {
    margin-left: 10px;
  }
}