@import "../../styles/colors";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background-color: $modalBackgroundColor;
  position: fixed;
  top: 0;
  left: 0;

  .content {
    padding: 20px;
    border-radius: 12px;
    background-color: $whiteColor;
    height: 200px;
    width: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;

    .myCoin {
      display: flex;
    }
  }
}

.hide {
  display: none;
}