@import "../../../styles/colors";
@import "../../../styles/fonts";

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: $headerFont;
  font-size: $fontSize;
  background-color: $headerColor;
  color: $whiteColor;
  cursor: pointer;

  .popularCoins {
    display: flex;

    .coin {
      margin: 0 10px;
    }
  }

  .portfolio {
    cursor: pointer;
    transition: .3s;
  }

  .portfolio:hover {
    color: #d2d2d2;
  }
}